
nav.sidebar {
    width: 63px;
    background: #37597d;
    padding: 5px;
    overflow: hidden;
    transition: all 0.3s;
    position: fixed;
    left: 0;
    z-index: 9999;
}
nav.sidebar:hover{
    width: 250px;
}
ul#nav_accordion {
    min-height: calc(100vh - 0px);
}
.sidebar-item.sidebar-brand {
    overflow: hidden;
}
.sidebar .sidebar-brand img {
    width: 230px;
    margin-block: 9px;
    margin-left: 5px;
}
.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}
.sidebar .nav-item .nav-link {
    display: flex ;
    align-items: center;
    font-size: .8rem;
    font-weight: 400;
    color: #f2f2f2;
    padding: 7px 9px
}
.sidebar .nav-item .submenu .nav-link{
    padding: 5px 5px
}
.sidebar .nav-link:hover {
    color: #11C6FF !important;
}
.sidebar .nav-link ._icon{
    background-color: #476c93c7;
    border-radius: 5px;
    margin-right: 13px;
    font-size: 12px;
    width: 38px;
    height: 38px;
    padding: 9px;
    text-align: center;
}
.sidebar .nav-item .submenu .nav-link  ._icon{
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
    width: 26px;
    height: 26px;
    padding: 2px;
}
.sidebar .nav-item .submenu .nav-link  ._icon img{
    width: 13px;
    height: 13px;
}
.sidebar .nav-link span.menu-text {
    min-width: 165px;
    padding-right: 2px;
}
.sidebar .nav-link[aria-expanded="false"] .fa-angle-down{
    margin-top: 2px;
    transition: all .3s;
}
.sidebar .nav-link[aria-expanded="true"] .fa-angle-down{
    margin-top: 0px;
    transform: rotate(180deg);
    transition: all .3s;
}

.sidebar .sidebar-menu .submenu.show > a:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
}
.sidebar .nav-item .submenu  li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}
.sidebar .sidebar-menu .submenu li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}